body {
    background-image: url(./img/bg.jpg);
    background-repeat: repeat;
    background-size: auto;
color: rgb(0, 119, 255);
    font-family: 'Patua One', cursive;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    line-height: 6rem;
    margin: 40px auto;
    text-align: center;
    text-shadow: 0px 4px 1px black;
}
.buttons {
    box-sizing: border-box;
    display:flex;
    /* align-items: center; */
    /* flex-direction: column; */
    gap: 2rem;
    justify-content: center;
    /* width: 100%;*/
    /* height: auto;  */
}

.game-button {
    background-color: rgb(0, 119, 255);
    height:9rem;
    width:15rem;
    transition: all 0.3s;
}

.game-button:hover {
background-color: rgb(12, 57, 109);
cursor: pointer;
height:9rem;
transform: rotate(-25deg);
width:15rem;
}

.button-rock {
-webkit-mask: url(./img/rock.svg) no-repeat center;
mask: url(./img/rock.svg) no-repeat center;
}
.button-paper {
-webkit-mask: url(./img/paper.svg) no-repeat center;
mask: url(./img/paper.svg) no-repeat center;
}
.button-scissors {
-webkit-mask: url(./img/scissors.svg) no-repeat center;
mask: url(./img/scissors.svg) no-repeat center;
}
.button-scissors:hover {
text-shadow: 0px 2px 4px red;


    }

.score, .bottomtext {
    box-shadow: 0px 3px 4px black;
    margin: 30px auto;
    outline: 3px solid rgba(0, 0, 0, 0.441);
    overflow: auto;
    padding: 3px;
    text-align: center;
    width: 70%;
    /* transition: all 3s; */
    /* background-color: rgba(0, 0, 0, 0.495); */
}

.score {
    font-size: 20px;
    height: 100px;
    line-height: 100px;
}

.bottomtext {
    height: 300px;
}
.finalresult {
    color: crimson;
    font-size: 24px;
}