@-webkit-keyframes hands {
    20%  {transform: rotate(25deg);}
    60% {transform: rotate(-25deg);}
  }
@keyframes hands {
    20%  {transform: rotate(25deg);}
    60% {transform: rotate(-25deg);}
  }
@-webkit-keyframes scissors {
    20%  {transform: rotate(115deg);}
    60% {transform: rotate(65deg);}
  }
@keyframes scissors {
    20%  {transform: rotate(115deg);}
    60% {transform: rotate(65deg);}
  }

body {
    background-image: url(./img/bg.jpg);
    background-repeat: repeat;
    background-size: auto;
    color: rgb(0, 119, 255);
    font-family: 'Patua One', cursive;
    position: relative;
}
h1 {
    cursor: default;
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    line-height: 6rem;
    margin: 40px auto;
    text-align: center;
    text-shadow: 0px 4px 1px black;
}
.buttons {
    box-sizing: border-box;
    display:flex;
    gap: 2rem;
    justify-content: center;
}

.game-button {
    color: rgb(0, 119, 255);
    height:auto;
    text-align: center;
    transition: all 0.3s;
    width:15rem;
}

.game-button:hover {
    color: rgb(12, 57, 109);
    cursor: pointer;
    height:auto;
    -webkit-animation-name: hands;
            animation-name: hands;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    width:15rem;

}

.fa-hand-scissors {
   
    transform: rotate(90deg);
}
.fa-hand-scissors:hover {

    -webkit-animation-name: scissors;
            animation-name: scissors;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.score, .bottomtext {
    box-shadow: 0px 5px 2px black;
    cursor: default;
    margin: 30px auto;
    outline: 3px solid rgba(0, 0, 0, 0.441);
    overflow: auto;
    padding: 3px;
    text-align: center;
    width: 70%;
}

.bottomtext {
    display:flex;
    flex-direction: column-reverse;
    height: 300px;
}
.score {
    font-size: 20px;
    height: 100px;
    line-height: 100px;
}
.battlelog {
    order:1;
}
.finalresult {
    color: crimson;
    font-size: 24px;
    line-height: 80px;
    text-decoration: underline;
}

footer {
    bottom: -3vh;
    height: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
#reset {
    background-color: transparent;
    border: 0;
    color: rgb(0, 119, 255);
    cursor: pointer;
    display:none;
    font-family: 'Press Start 2P', cursive;
    margin: 5px auto;
    outline: 3px solid rgba(0, 0, 0, 0.441);
    padding: 5px 20px;
}

#reset:hover {
    color: crimson;
    outline: 3px solid rgba(0, 0, 0, 0.687);
}

@media screen and (max-width: 426px){
    h1 {
        /* text-align: center; */
        font-size: 2.3rem;
        line-height: 3.3rem;
    }
    .score {
        font-size: 14px;
        height: 100px;
        line-height: 30px;
    }
    .score {
        align-items: center;
        display:flex;
        justify-content: center;
    }
    .game-button {
        color: rgb(0, 119, 255);
        transition: all 0.3s;
    }
    .fa-10x {
        font-size: 5em !important;
    }
    }
