body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttons {
    display:flex;
    gap: 2rem;
    box-sizing: border-box;
}
.buttons button {
    width: 130px;
    height: 50px;
    background-color: darkslategray;
    border: 0;
    box-sizing: border-box;
    color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.buttons button:hover {
    cursor: pointer;
    border: 8px solid rgb(26, 180, 165);
    box-sizing: border-box;
}